@charset "UTF-8";

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

boddy, html {
    background-image: linear-gradient(to top, rgb(139, 77, 77),  rgb(69, 3, 3));
    background-color: rgb(69, 3, 3);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: rgb(69, 3, 3) url(../imagens/imagem-login.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}
section#login > div#forms {
    display: block;
    padding: 10px;
}